// =====================================================
// Test Task Styles file
// =====================================================

// Lib imports
// =====================================================
@import "base/core";

// Modules imports
// =====================================================
@import "modules/header";
@import "modules/container";
@import "modules/item-block";
@import "modules/also-like";
@import "modules/slider";

// Content styles
// =====================================================
html {
  font-size: 10px;
}

body {
  background: $softGrey;
  font-family: $OpenSansFontFamily;
  font-size: $baseFont;

  //@include maxScreen($large) {
  //  font-size: $baseFont;
  //}

  @include maxScreen($middle) {
    font-size: $mobileFont;
  }

  @include maxScreen($small) {
    font-size: $mobileFont;
  }
}

// Main Content
// =====================================================
