/* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 30, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
html, body {
  height: 100%;
  min-height: 100%; }

/* line 35, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
body {
  line-height: 1; }

/* line 39, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
*:before,
*:after {
  display: inline-block;
  vertical-align: middle; }

/* line 45, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 50, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
nav ul {
  list-style: none; }

/* line 54, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 58, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 64, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
/* line 74, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
/* line 81, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 88, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
del {
  text-decoration: line-through; }

/* line 92, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 97, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
/* line 103, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* line 112, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 13, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.row {
  margin-right: 0;
  margin-left: 0; }
  /* line 83, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_mixins.scss */
  .row:after {
    content: "";
    display: table;
    clear: both; }

/* line 20, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S1,
.S2,
.S3,
.S4,
.S5,
.S6,
.S7,
.S8,
.S9,
.S10,
.S11,
.S12,
.M1,
.M2,
.M3,
.M4,
.M5,
.M6,
.M7,
.M8,
.M9,
.M10,
.M11,
.M12,
.L1,
.L2,
.L3,
.L4,
.L5,
.L6,
.L7,
.L8,
.L9,
.L10,
.L11,
.L12,
.XL1,
.XL2,
.XL3,
.XL4,
.XL5,
.XL6,
.XL7,
.XL8,
.XL9,
.XL10,
.XL11,
.XL12 {
  position: relative;
  padding-right: 0;
  min-height: 1px;
  padding-left: 0; }

/* line 85, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S1,
.S2,
.S3,
.S4,
.S5,
.S6,
.S7,
.S8,
.S9,
.S10,
.S11 {
  float: left; }

/* line 99, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S1 {
  width: 8.33333%; }

/* line 103, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S2 {
  width: 16.66667%; }

/* line 107, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S3 {
  width: 25%; }

/* line 111, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S4 {
  width: 33.33333%; }

/* line 115, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S5 {
  width: 41.66667%; }

/* line 119, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S6 {
  width: 50%; }

/* line 123, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S7 {
  width: 58.33333%; }

/* line 127, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S8 {
  width: 66.66667%; }

/* line 131, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S9 {
  width: 75%; }

/* line 135, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S10 {
  width: 83.33333%; }

/* line 139, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S11 {
  width: 91.66667%; }

/* line 143, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.S12 {
  width: 100%; }

@media (min-width: 481px) {
  /* line 158, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M1,
  .M2,
  .M3,
  .M4,
  .M5,
  .M6,
  .M7,
  .M8,
  .M9,
  .M10,
  .M11 {
    float: left; }
  /* line 171, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M1 {
    width: 8.33333%; }
  /* line 174, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M2 {
    width: 16.66667%; }
  /* line 177, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M3 {
    width: 25%; }
  /* line 180, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M4 {
    width: 33.33333%; }
  /* line 183, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M5 {
    width: 41.66667%; }
  /* line 186, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M6 {
    width: 50%; }
  /* line 189, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M7 {
    width: 58.33333%; }
  /* line 192, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M8 {
    width: 66.66667%; }
  /* line 195, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M9 {
    width: 75%; }
  /* line 198, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M10 {
    width: 83.33333%; }
  /* line 201, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M11 {
    width: 91.66667%; }
  /* line 204, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .M12 {
    width: 100%; }
  /* line 209, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush1 {
    left: 8.33333%; }
  /* line 212, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush2 {
    left: 16.66667%; }
  /* line 215, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush3 {
    left: 25%; }
  /* line 218, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush4 {
    left: 33.33333%; }
  /* line 221, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush5 {
    left: 41.66667%; }
  /* line 224, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush6 {
    left: 50%; }
  /* line 227, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush7 {
    left: 58.33333%; }
  /* line 230, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush8 {
    left: 66.66667%; }
  /* line 233, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush9 {
    left: 75%; }
  /* line 236, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush10 {
    left: 83.33333%; }
  /* line 239, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPush11 {
    left: 91.66667%; }
  /* line 243, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull1 {
    right: 8.33333%; }
  /* line 246, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull2 {
    right: 16.66667%; }
  /* line 249, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull3 {
    right: 25%; }
  /* line 252, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull4 {
    right: 33.33333%; }
  /* line 255, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull5 {
    right: 41.66667%; }
  /* line 258, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull6 {
    right: 50%; }
  /* line 261, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull7 {
    right: 58.33333%; }
  /* line 264, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull8 {
    right: 66.66667%; }
  /* line 267, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull9 {
    right: 75%; }
  /* line 270, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull10 {
    right: 83.33333%; }
  /* line 273, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MPull11 {
    right: 91.66667%; }
  /* line 278, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset1 {
    margin-left: 8.33333%; }
  /* line 281, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset2 {
    margin-left: 16.66667%; }
  /* line 284, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset3 {
    margin-left: 25%; }
  /* line 287, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset4 {
    margin-left: 33.33333%; }
  /* line 290, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset5 {
    margin-left: 41.66667%; }
  /* line 293, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset6 {
    margin-left: 50%; }
  /* line 296, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset7 {
    margin-left: 58.33333%; }
  /* line 299, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset8 {
    margin-left: 66.66667%; }
  /* line 302, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset9 {
    margin-left: 75%; }
  /* line 305, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset10 {
    margin-left: 83.33333%; }
  /* line 308, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .MOffset11 {
    margin-left: 91.66667%; } }

@media (min-width: 1024px) {
  /* line 323, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L1,
  .L2,
  .L3,
  .L4,
  .L5,
  .L6,
  .L7,
  .L8,
  .L9,
  .L10,
  .L11 {
    float: left; }
  /* line 336, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L1 {
    width: 8.33333%; }
  /* line 339, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L2 {
    width: 16.66667%; }
  /* line 342, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L3 {
    width: 25%; }
  /* line 345, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L4 {
    width: 33.33333%; }
  /* line 348, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L5 {
    width: 41.66667%; }
  /* line 351, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L6 {
    width: 50%; }
  /* line 354, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L7 {
    width: 58.33333%; }
  /* line 357, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L8 {
    width: 66.66667%; }
  /* line 360, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L9 {
    width: 75%; }
  /* line 363, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L10 {
    width: 83.33333%; }
  /* line 366, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L11 {
    width: 91.66667%; }
  /* line 369, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .L12 {
    width: 100%; }
  /* line 374, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush0 {
    left: auto; }
  /* line 377, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush1 {
    left: 8.33333%; }
  /* line 380, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush2 {
    left: 16.66667%; }
  /* line 383, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush3 {
    left: 25%; }
  /* line 386, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush4 {
    left: 33.33333%; }
  /* line 389, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush5 {
    left: 41.66667%; }
  /* line 392, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush6 {
    left: 50%; }
  /* line 395, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush7 {
    left: 58.33333%; }
  /* line 398, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush8 {
    left: 66.66667%; }
  /* line 401, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush9 {
    left: 75%; }
  /* line 404, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush10 {
    left: 83.33333%; }
  /* line 407, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPush11 {
    left: 91.66667%; }
  /* line 411, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull0 {
    right: auto; }
  /* line 414, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull1 {
    right: 8.33333%; }
  /* line 417, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull2 {
    right: 16.66667%; }
  /* line 420, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull3 {
    right: 25%; }
  /* line 423, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull4 {
    right: 33.33333%; }
  /* line 426, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull5 {
    right: 41.66667%; }
  /* line 429, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull6 {
    right: 50%; }
  /* line 432, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull7 {
    right: 58.33333%; }
  /* line 435, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull8 {
    right: 66.66667%; }
  /* line 438, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull9 {
    right: 75%; }
  /* line 441, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull10 {
    right: 83.33333%; }
  /* line 444, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LPull11 {
    right: 91.66667%; }
  /* line 449, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset0 {
    margin-left: 0; }
  /* line 452, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset1 {
    margin-left: 8.33333%; }
  /* line 455, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset2 {
    margin-left: 16.66667%; }
  /* line 458, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset3 {
    margin-left: 25%; }
  /* line 461, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset4 {
    margin-left: 33.33333%; }
  /* line 464, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset5 {
    margin-left: 41.66667%; }
  /* line 467, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset6 {
    margin-left: 50%; }
  /* line 470, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset7 {
    margin-left: 58.33333%; }
  /* line 473, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset8 {
    margin-left: 66.66667%; }
  /* line 476, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset9 {
    margin-left: 75%; }
  /* line 479, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset10 {
    margin-left: 83.33333%; }
  /* line 482, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .LOffset11 {
    margin-left: 91.66667%; } }

@media (min-width: 1281px) {
  /* line 497, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL1,
  .XL2,
  .XL3,
  .XL4,
  .XL5,
  .XL6,
  .XL7,
  .XL8,
  .XL9,
  .XL10,
  .XL11 {
    float: left; }
  /* line 510, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL1 {
    width: 8.33333%; }
  /* line 513, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL2 {
    width: 16.66667%; }
  /* line 516, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL3 {
    width: 25%; }
  /* line 519, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL4 {
    width: 33.33333%; }
  /* line 522, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL5 {
    width: 41.66667%; }
  /* line 525, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL6 {
    width: 50%; }
  /* line 528, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL7 {
    width: 58.33333%; }
  /* line 531, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL8 {
    width: 66.66667%; }
  /* line 534, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL9 {
    width: 75%; }
  /* line 537, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL10 {
    width: 83.33333%; }
  /* line 540, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL11 {
    width: 91.66667%; }
  /* line 543, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XL12 {
    width: 100%; }
  /* line 548, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush0 {
    left: auto; }
  /* line 551, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush1 {
    left: 8.33333%; }
  /* line 554, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush2 {
    left: 16.66667%; }
  /* line 557, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush3 {
    left: 25%; }
  /* line 560, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush4 {
    left: 33.33333%; }
  /* line 563, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush5 {
    left: 41.66667%; }
  /* line 566, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush6 {
    left: 50%; }
  /* line 569, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush7 {
    left: 58.33333%; }
  /* line 572, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush8 {
    left: 66.66667%; }
  /* line 575, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush9 {
    left: 75%; }
  /* line 578, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush10 {
    left: 83.33333%; }
  /* line 581, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPush11 {
    left: 91.66667%; }
  /* line 585, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull0 {
    right: auto; }
  /* line 588, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull1 {
    right: 8.33333%; }
  /* line 591, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull2 {
    right: 16.66667%; }
  /* line 594, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull3 {
    right: 25%; }
  /* line 597, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull4 {
    right: 33.33333%; }
  /* line 600, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull5 {
    right: 41.66667%; }
  /* line 603, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull6 {
    right: 50%; }
  /* line 606, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull7 {
    right: 58.33333%; }
  /* line 609, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull8 {
    right: 66.66667%; }
  /* line 612, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull9 {
    right: 75%; }
  /* line 615, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull10 {
    right: 83.33333%; }
  /* line 618, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLPull11 {
    right: 91.66667%; }
  /* line 623, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset0 {
    margin-left: 0; }
  /* line 626, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset1 {
    margin-left: 8.33333%; }
  /* line 629, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset2 {
    margin-left: 16.66667%; }
  /* line 632, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset3 {
    margin-left: 25%; }
  /* line 635, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset4 {
    margin-left: 33.33333%; }
  /* line 638, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset5 {
    margin-left: 41.66667%; }
  /* line 641, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset6 {
    margin-left: 50%; }
  /* line 644, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset7 {
    margin-left: 58.33333%; }
  /* line 647, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset8 {
    margin-left: 66.66667%; }
  /* line 650, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset9 {
    margin-left: 75%; }
  /* line 653, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset10 {
    margin-left: 83.33333%; }
  /* line 656, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .XLOffset11 {
    margin-left: 91.66667%; } }

/* line 702, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.mobileHidden.mobile-hidden {
  display: none; }
  @media screen and (min-width: 769px) {
    /* line 702, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .mobileHidden.mobile-hidden {
      display: block; } }

/* line 712, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.mobileVisible.mobile-visible {
  display: block; }
  @media screen and (min-width: 769px) {
    /* line 712, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .mobileVisible.mobile-visible {
      display: none; } }

/* line 724, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.rowSep10 {
  margin-right: -0.5rem;
  margin-left: -0.5rem; }
  @media screen and (max-width: 768px) {
    /* line 724, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .rowSep10 {
      margin-right: -0.5rem;
      margin-left: -0.5rem; } }
  /* line 731, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .rowSep10 .colSep10 {
    padding-right: .5rem;
    padding-left: .5rem; }
    @media screen and (max-width: 768px) {
      /* line 731, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
      .rowSep10 .colSep10 {
        padding-right: .5rem;
        padding-left: .5rem; } }

/* line 741, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.rowSep20 {
  margin-right: -1rem;
  margin-left: -1rem; }
  @media screen and (max-width: 768px) {
    /* line 741, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .rowSep20 {
      margin-right: -1rem;
      margin-left: -1rem; } }
  /* line 748, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .rowSep20 .colSep20 {
    padding-right: 1rem;
    padding-left: 1rem; }
    @media screen and (max-width: 768px) {
      /* line 748, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
      .rowSep20 .colSep20 {
        padding-right: 1rem;
        padding-left: 1rem; } }

/* line 758, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.rowSep30 {
  margin-right: -1.5rem;
  margin-left: -1.5rem; }
  @media screen and (max-width: 768px) {
    /* line 758, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .rowSep30 {
      margin-right: -1.5rem;
      margin-left: -1.5rem; } }
  /* line 765, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .rowSep30 .colSep30 {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    @media screen and (max-width: 768px) {
      /* line 765, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
      .rowSep30 .colSep30 {
        padding-right: 1.5rem;
        padding-left: 1.5rem; } }

/* line 775, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.rowSep40 {
  margin-right: -2rem;
  margin-left: -2rem; }
  @media screen and (max-width: 768px) {
    /* line 775, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .rowSep40 {
      margin-right: -2rem;
      margin-left: -2rem; } }
  /* line 782, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .rowSep40 .colSep40 {
    padding-right: 2rem;
    padding-left: 2rem; }
    @media screen and (max-width: 768px) {
      /* line 782, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
      .rowSep40 .colSep40 {
        padding-right: 2rem;
        padding-left: 2rem; } }

/* line 794, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.gutter10 {
  margin-right: -0.5rem;
  margin-left: -0.5rem; }
  @media screen and (max-width: 768px) {
    /* line 794, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .gutter10 {
      margin-right: -0.5rem;
      margin-left: -0.5rem; } }
  /* line 801, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .gutter10 > div {
    padding-right: .5rem;
    padding-left: .5rem; }
    @media screen and (max-width: 768px) {
      /* line 801, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
      .gutter10 > div {
        padding-right: .5rem;
        padding-left: .5rem; } }

/* line 811, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.gutter20 {
  margin-right: -1rem;
  margin-left: -1rem; }
  @media screen and (max-width: 768px) {
    /* line 811, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .gutter20 {
      margin-right: -1rem;
      margin-left: -1rem; } }
  /* line 818, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .gutter20 > div {
    padding-right: 1rem;
    padding-left: 1rem; }
    @media screen and (max-width: 768px) {
      /* line 818, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
      .gutter20 > div {
        padding-right: 1rem;
        padding-left: 1rem; } }

/* line 828, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.gutter30 {
  margin-right: -1.5rem;
  margin-left: -1.5rem; }
  @media screen and (max-width: 768px) {
    /* line 828, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .gutter30 {
      margin-right: -1.5rem;
      margin-left: -1.5rem; } }
  /* line 835, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .gutter30 > div {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    @media screen and (max-width: 768px) {
      /* line 835, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
      .gutter30 > div {
        padding-right: 1.5rem;
        padding-left: 1.5rem; } }

/* line 845, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
.gutter40 {
  margin-right: -2rem;
  margin-left: -2rem; }
  @media screen and (max-width: 768px) {
    /* line 845, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
    .gutter40 {
      margin-right: -2rem;
      margin-left: -2rem; } }
  /* line 852, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
  .gutter40 > div {
    padding-right: 2rem;
    padding-left: 2rem; }
    @media screen and (max-width: 768px) {
      /* line 852, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_grid.scss */
      .gutter40 > div {
        padding-right: 2rem;
        padding-left: 2rem; } }

/* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_classes.scss */
.prime-btn {
  background: #8ae6cf;
  border-radius: 3rem;
  color: #2c303d;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;
  padding: 1.5rem .5rem;
  width: 24.1rem; }
  /* line 21, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_classes.scss */
  .prime-btn:hover {
    background: #75e2c6;
    cursor: pointer; }
  /* line 26, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_classes.scss */
  .prime-btn:active {
    box-shadow: 0 -0.2rem #ffffff;
    transition: all 0s ease; }

/* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
.header {
  color: #878787;
  font-size: 1.8rem;
  margin: 0 -5rem;
  transition: all .3s ease;
  padding: 2.3rem 2rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    /* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
    .header {
      margin: 0 -1.9rem;
      padding: .6rem 1.5rem; } }
  @media screen and (max-width: 480px) {
    /* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
    .header {
      margin: 0;
      padding: 1.9rem 1rem; } }
  /* line 25, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
  .header:before {
    content: "Desktop";
    transition: all .3s ease;
    width: 80%; }
    @media screen and (max-width: 768px) {
      /* line 25, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
      .header:before {
        content: "Tablet"; } }
    @media screen and (max-width: 480px) {
      /* line 25, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
      .header:before {
        content: "Mobile device"; } }
  /* line 39, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
  .header:after {
    content: "";
    background: url("../../images/icon-desktop.png") no-repeat center right;
    height: 7.3rem;
    transition: all .3s ease;
    width: 20%; }
    @media screen and (max-width: 768px) {
      /* line 39, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
      .header:after {
        background: url("../../images/icon-tablet.png") no-repeat center right;
        height: 7.1rem; } }
    @media screen and (max-width: 480px) {
      /* line 39, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_header.scss */
      .header:after {
        background: url("../../images/icon-mobile.png") no-repeat center right;
        height: 4.1rem; } }

/* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_container.scss */
.container {
  max-width: 93.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5rem;
  padding-left: 5rem; }
  /* line 94, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_mixins.scss */
  .ie8 .container {
    max-width: 83.5rem; }
  /* line 83, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_mixins.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    /* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_container.scss */
    .container {
      max-width: 67.8rem;
      margin-right: auto;
      margin-left: auto;
      padding-right: 1.9rem;
      padding-left: 1.9rem; }
      /* line 94, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_mixins.scss */
      .ie8 .container {
        max-width: 64rem; }
      /* line 83, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_mixins.scss */
      .container:after {
        content: "";
        display: table;
        clear: both; } }
  @media screen and (max-width: 480px) {
    /* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_container.scss */
    .container {
      max-width: 40.2rem;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0;
      padding-left: 0; }
      /* line 94, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_mixins.scss */
      .ie8 .container {
        max-width: 40.2rem; }
      /* line 83, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/base/_mixins.scss */
      .container:after {
        content: "";
        display: table;
        clear: both; } }

/* line 8, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
.item-info-block .social {
  display: none; }
  /* line 11, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block .social .link {
    border: 0.1rem solid #2c87ce;
    border-radius: 50%;
    color: #2c87ce;
    display: inline-block;
    height: 4rem;
    margin-bottom: 1rem;
    transition: all .3s ease;
    text-align: center;
    width: 4rem; }
    /* line 22, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block .social .link i {
      padding-top: 1.2rem; }
      @media screen and (max-width: 768px) {
        /* line 22, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block .social .link i {
          padding-top: 1rem; } }
    /* line 30, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block .social .link:hover {
      background: #2c87ce;
      color: #ffffff;
      cursor: pointer; }
    /* line 36, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block .social .link:active {
      box-shadow: inset 0 0 1rem #ffffff; }

/* line 42, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
.item-info-block__image {
  background: #eaf2f4;
  position: relative; }
  @media screen and (max-width: 768px) {
    /* line 42, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__image {
      min-height: 28rem; } }
  /* line 50, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block__image img {
    width: 100%;
    height: auto; }
  /* line 55, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block__image .social {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 4.2rem; }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      /* line 55, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__image .social {
        display: block; } }

/* line 67, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
.item-info-block__description {
  padding-left: 2rem; }
  @media screen and (max-width: 480px) {
    /* line 67, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description {
      padding: 2rem 7% 0; } }
  /* line 74, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block__description .title {
    font-family: "Oswald", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  /* line 81, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block__description .sub-title {
    color: #2c303d;
    font-size: 1rem;
    margin-bottom: 2.5rem; }
  /* line 87, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block__description .price {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2.5rem; }
    @media screen and (max-width: 768px) {
      /* line 87, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .price {
        font-size: 3.6rem; } }
    /* line 96, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description .price__old {
      color: #2c303d;
      margin-right: 2.5rem;
      text-decoration: line-through; }
      @media screen and (max-width: 768px) {
        /* line 96, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .price__old {
          margin-right: 2.8rem; } }
    /* line 106, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description .price__new {
      color: #ce2c52; }
  /* line 111, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block__description .stars-and-share {
    margin-bottom: 3rem; }
    /* line 114, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description .stars-and-share .stars {
      display: inline-block; }
      /* line 117, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .stars-and-share .stars input {
        display: none; }
      /* line 121, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .stars-and-share .stars label {
        background: url("../../images/icon-star.png") no-repeat center;
        display: inline-block;
        height: 1.7rem;
        transition: all .3s ease;
        width: 1.7rem; }
        /* line 128, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .stars-and-share .stars label:hover {
          cursor: pointer; }
      /* line 134, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .stars-and-share .stars input:checked + label {
        background: url("../../images/icon-star-checked.png") no-repeat center; }
    /* line 140, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description .stars-and-share .share-it {
      color: #2c87ce;
      display: inline-block;
      font-size: 1.8rem;
      font-weight: bold;
      margin-left: 1.7rem;
      position: relative; }
      @media screen and (max-width: 768px) {
        /* line 140, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .stars-and-share .share-it {
          display: none; } }
      /* line 152, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .stars-and-share .share-it .toggle {
        display: none; }
      /* line 157, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .stars-and-share .share-it .share-it-btn:hover {
        cursor: pointer; }
      /* line 163, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .stars-and-share .share-it.active .toggle {
        background: #ffffff;
        box-shadow: 0 0 0.7rem 0 rgba(44, 48, 61, 0.4);
        display: block;
        position: absolute;
        top: 4rem;
        left: -10rem;
        padding: 1.5rem;
        width: 28.7rem;
        z-index: 5; }
        /* line 174, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .stars-and-share .share-it.active .toggle .share-title {
          font-weight: 400;
          margin-bottom: 2rem;
          position: relative; }
          /* line 179, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
          .item-info-block__description .stars-and-share .share-it.active .toggle .share-title i {
            position: absolute;
            right: 0; }
            /* line 183, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
            .item-info-block__description .stars-and-share .share-it.active .toggle .share-title i:hover {
              cursor: pointer; }
        /* line 189, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .stars-and-share .share-it.active .toggle .social {
          display: block;
          text-align: center; }
          /* line 193, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
          .item-info-block__description .stars-and-share .share-it.active .toggle .social .link {
            margin-right: .7rem; }
            /* line 196, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
            .item-info-block__description .stars-and-share .share-it.active .toggle .social .link:last-child {
              margin-right: 0; }
        /* line 202, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .stars-and-share .share-it.active .toggle:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          top: 0;
          left: 55%;
          box-sizing: border-box;
          border: 1rem solid #282828;
          border-color: transparent transparent #ffffff #ffffff;
          transform-origin: 0 0;
          transform: rotate(135deg);
          box-shadow: -0.2rem 0.2rem 0.3rem 0 rgba(44, 48, 61, 0.4); }
  @media screen and (max-width: 480px) {
    /* line 221, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description .social {
      display: block;
      margin-bottom: 2rem; }
      /* line 226, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .social .link {
        height: 3.8rem;
        margin-right: 1rem;
        width: 3.8rem; }
        /* line 231, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .social .link i {
          padding-top: .8rem; } }
  /* line 238, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block__description .description {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7rem;
    margin-bottom: 2.5rem;
    position: relative; }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      /* line 246, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .description {
        padding-top: 2.5rem; }
      /* line 250, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .description:before {
        content: "Details:";
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 0; } }
  /* line 261, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
  .item-info-block__description .size {
    margin-bottom: 2.5rem; }
    @media screen and (max-width: 480px) {
      /* line 261, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .size {
        text-align: center; } }
    /* line 268, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description .size .size-choose {
      position: relative; }
      @media screen and (max-width: 768px) {
        /* line 268, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .size .size-choose {
          padding-top: 2.5rem; } }
      @media screen and (max-width: 480px) {
        /* line 268, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .size .size-choose {
          padding-top: 3.5rem; } }
      /* line 279, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .size .size-choose:before {
        content: "Size:";
        font-weight: bold;
        margin-right: 1.7rem;
        text-transform: uppercase; }
        @media screen and (max-width: 768px) {
          /* line 279, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
          .item-info-block__description .size .size-choose:before {
            content: "Select a size:";
            font-size: 1.4rem;
            position: absolute;
            top: 0; } }
        @media screen and (max-width: 480px) {
          /* line 279, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
          .item-info-block__description .size .size-choose:before {
            font-size: 2rem;
            left: 30%; } }
      /* line 298, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .size .size-choose input {
        display: none; }
      /* line 302, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .size .size-choose label {
        background: #ffffff;
        border: 0.1rem solid #2c303d;
        border-radius: 50%;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: bold;
        height: 4rem;
        margin-right: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        transition: all .3s ease;
        padding-top: 1.3rem;
        vertical-align: middle;
        width: 4rem; }
        @media screen and (max-width: 768px) {
          /* line 302, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
          .item-info-block__description .size .size-choose label {
            height: 3.8rem;
            width: 3.8rem; }
            /* line 322, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
            .item-info-block__description .size .size-choose label:last-child {
              margin-right: 0; } }
        /* line 327, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
        .item-info-block__description .size .size-choose label:hover {
          background: #2c303d;
          color: #ffffff;
          cursor: pointer; }
      /* line 335, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
      .item-info-block__description .size .size-choose input:checked + label {
        background: #2c303d;
        color: #ffffff;
        cursor: default; }
  @media screen and (max-width: 768px) {
    /* line 346, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description .add-to-cart .prime-btn {
      min-width: 18rem;
      width: 65%; } }
  @media screen and (max-width: 480px) {
    /* line 344, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_item-block.scss */
    .item-info-block__description .add-to-cart {
      text-align: center; } }

/* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
.also-like-block {
  margin-top: 6.7rem; }
  /* line 10, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
  .also-like-block .row {
    margin: 0 -1.1%;
    text-align: justify; }
  /* line 15, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
  .also-like-block .title {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: .17rem;
    margin-bottom: 1.1%;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      /* line 15, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
      .also-like-block .title {
        text-align: center; } }
    @media screen and (max-width: 768px) {
      /* line 15, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
      .also-like-block .title {
        margin-bottom: 5%; } }
  @media screen and (max-width: 480px) {
    /* line 31, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
    .also-like-block .also-like-items {
      display: none; } }
  /* line 37, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
  .also-like-block .also-like-item {
    padding: 1rem; }
    @media screen and (max-width: 480px) {
      /* line 37, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
      .also-like-block .also-like-item {
        padding: 0; } }
    /* line 44, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
    .also-like-block .also-like-item a {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%; }
      /* line 51, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
      .also-like-block .also-like-item a:after {
        content: "";
        background: rgba(255, 255, 255, 0.2);
        transition: all .3s ease;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        @media screen and (max-width: 768px) {
          /* line 51, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
          .also-like-block .also-like-item a:after {
            background: transparent; } }
      /* line 67, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
      .also-like-block .also-like-item a:hover:after {
        background: transparent; }
    /* line 73, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
    .also-like-block .also-like-item img {
      width: 100%; }
    /* line 77, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
    .also-like-block .also-like-item .price {
      background: #8ae6cf;
      font-size: 1.6rem;
      font-weight: bold;
      padding: .3rem .65rem;
      position: absolute;
      right: 0;
      bottom: 2.2rem; }
      @media screen and (max-width: 768px) {
        /* line 77, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
        .also-like-block .also-like-item .price {
          bottom: 0;
          text-align: center;
          width: 100%; }
          /* line 91, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
          .also-like-block .also-like-item .price__old {
            display: none; } }
      /* line 96, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
      .also-like-block .also-like-item .price__current {
        color: #2c303d; }
      /* line 100, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
      .also-like-block .also-like-item .price__old {
        color: #2c303d;
        text-decoration: line-through; }
      /* line 105, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_also-like.scss */
      .also-like-block .also-like-item .price__new {
        color: #ce2c52;
        margin-left: .5rem; }

/* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
.slider {
  position: relative;
  height: 1px;
  overflow: hidden;
  visibility: hidden; }
  @media screen and (max-width: 480px) {
    /* line 7, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
    .slider {
      height: inherit;
      overflow: inherit;
      visibility: visible; } }

/* line 20, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
.slider_wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: auto;
  width: 68%; }

/* line 28, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
#image_slider {
  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  /*Chrom default padding for ul is 40px */
  padding: 0;
  margin: 0; }
  /* line 38, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
  #image_slider li {
    position: relative;
    float: left;
    overflow: hidden; }

/* line 45, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
.nvgt {
  position: absolute;
  top: 120px;
  height: 50px;
  width: 30px;
  opacity: 0.6; }
  /* line 52, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
  .nvgt:hover {
    opacity: 0.9; }

/* line 58, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
#prev:before, #next:before, #prev:after, #next:after {
  position: absolute;
  border: 2rem solid transparent;
  content: '';
  display: block; }

/* line 67, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
#prev {
  left: 5%; }
  /* line 72, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
  #prev:before {
    right: 0;
    border-right-color: #949494; }
  /* line 77, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
  #prev:after {
    right: -.3rem;
    border-right-color: #f6f6f6; }

/* line 83, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
#next {
  right: 5%; }
  /* line 88, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
  #next:before {
    left: 0;
    border-left-color: #949494; }
  /* line 93, /Volumes/Media/Work/Test-Tasks/astoundcommerce.com/astoundcommerce-test-task/app/scss/modules/_slider.scss */
  #next:after {
    left: -.3rem;
    border-left-color: #f6f6f6; }

/* line 19, stdin */
html {
  font-size: 10px; }

/* line 23, stdin */
body {
  background: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }
  @media screen and (max-width: 768px) {
    /* line 23, stdin */
    body {
      font-size: 2rem; } }
  @media screen and (max-width: 480px) {
    /* line 23, stdin */
    body {
      font-size: 2rem; } }

/*# sourceMappingURL=maps/tt-styles.css.map */
