//---------------------------------------------------
// Mixins
//---------------------------------------------------

// Content
// --------------------------------------------------

/// Cross browser box-sizing
/// @param $box-model [border-box] - type of box-model
@mixin boxSizing($box-model: border-box) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

/// Media queries
@mixin screen($minWidth, $maxWidth) {
    // use plus '1' for don't overlap
    @media screen and (min-width: $minWidth + 1) and (max-width: $maxWidth) {
        @content;
    }
}

@mixin maxScreen($maxWidth) {
    @media screen and (max-width: $maxWidth) {
        @content;
    }
}

@mixin minScreen($minWidth) {
    // use plus '1' for don't overlap
    @media screen and (min-width: $minWidth + 1) {
        @content;
    }
}

/// Breakpoints

/// Phone breakpoint
/// @type Number
/// @group Breakpoints
$screen_S: 480px;
$small: $screen_S;

/// Large phone breakpoint
/// @type Number
/// @group Breakpoints
$screen_M: 768px;
$middle: $screen_M;

/// Tablet breakpoint
/// @type Number
/// @group Breakpoints
$screen_L: 1024px;
$large: $screen_L;

/// Laptop breakpoint
/// @type Number
/// @group Breakpoints
$screen_XL: 1280px;
$extraLarge: $screen_XL;

/// Monitor breakpoint
/// @type Number
/// @group Breakpoints
$screen_XXL: 1440px;
$doubleExtraLarge: $screen_XXL;

/// HD monitor breakpoint
/// @type Number
/// @group Breakpoints
$screen_HD: 1920px;
$highDefinition: $screen_HD;

/// Retina monitor breakpoint
/// @type Number
/// @group Breakpoints
$screen_Retina: 2560px;
$retina: 2560px;

/// Clear fix
@mixin pie-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Centered container element
@mixin containerCentred($paddingRight: 0, $paddingLeft: 0, $maxWidth: false) {
  @if $maxWidth != false {
    max-width: $maxWidth + $paddingRight + $paddingLeft;
    .ie8 & {
      max-width: $maxWidth;
    }
  }

  margin-right: auto;
  margin-left: auto;
  padding-right: $paddingRight;
  padding-left: $paddingLeft;

  @include pie-clearfix();
}