// Variables
// =====================================================
// Color Variables
// -----------------------------------------------------
$primeWhite:            #ffffff;
$primeGreen:            #8ae6cf;
$primeBlue:             #2c87ce;
$primeRed:              #ce2c52;

$softGrey:              #f6f6f6;
$opinionGrey:           #eaf2f4;
$oceanGrey:             #ababab;
$starGrey:              #878787;
$moonBrown:             #2c303d;
$streetGrey:            #282828;
$nextPrev:              #949494;

// Font Variables
// -----------------------------------------------------
$baseFont:              1.6rem;
$tabletFont:            3rem;
$mobileFont:            2rem;

// Border Radius Variables
// -----------------------------------------------------
$baseBorderRadius:      .4rem;
$mobileBorderRadius:    .3rem;
$buttonBorderRadius:    3rem;

// Desktop container
// -----------------------------------------------------
$containerDesktop:      83.5rem;
$containerTablet:       64rem;
$containerMobile:       40.2rem;

// Other
// -----------------------------------------------------
$OpenSansFontFamily:    'Open Sans', sans-serif;
$OswaldFontFamily:      'Oswald', sans-serif;
// =====================================================