//---------------------------------------------------
// Also like block
//---------------------------------------------------

// Content
// --------------------------------------------------
.also-like-block {
  margin-top: 6.7rem;

  .row {
    margin: 0 -1.1%;
    text-align: justify;
  }

  .title {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: .17rem;
    margin-bottom: 1.1%;
    text-transform: uppercase;

    @include maxScreen($middle) {
      text-align: center;
    }

    @include maxScreen($middle) {
      margin-bottom: 5%;
    }
  }

  .also-like-items {
    @include maxScreen($small) {
      display: none;
    }
  }

  .also-like-item {
    padding: 1rem;

    @include maxScreen($small) {
      padding: 0;
    }

    a {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;

      &:after {
        content: "";
        background: rgba($primeWhite, .2);
        transition: all .3s ease;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        @include maxScreen($middle) {
          background: transparent;
        }
      }

      &:hover {
        &:after {
          background: transparent;
        }
      }
    }

    img {
      width: 100%;
    }

    .price {
      background: $primeGreen;
      font-size: 1.6rem;
      font-weight: bold;
      padding: .3rem .65rem;
      position: absolute;
      right: 0;
      bottom: 2.2rem;

      @include maxScreen($middle) {
        bottom: 0;
        text-align: center;
        width: 100%;

        &__old {
          display: none;
        }
      }

      &__current {
        color: $moonBrown;
      }

      &__old {
        color: $moonBrown;
        text-decoration: line-through;
      }

      &__new {
        color: $primeRed;
        margin-left: .5rem;
      }
    }
  }
}