//---------------------------------------------------
// Container
//---------------------------------------------------

// Content
// --------------------------------------------------
.container {
  $containerIndent: 5rem;
  $widthContainer: $containerDesktop; // width: 83.5rem

  @include containerCentred($containerIndent, $containerIndent, $widthContainer);

  @include maxScreen($middle) {
    $containerIndent: 1.9rem;
    $widthContainer: $containerTablet; // width: 64rem

    @include containerCentred($containerIndent, $containerIndent, $widthContainer);
  }

  @include maxScreen($small) {
    $containerIndent: 0;
    $widthContainer: $containerMobile; // width: 40.2rem

    @include containerCentred($containerIndent, $containerIndent, $widthContainer);
  }
}