//---------------------------------------------------
// Header
//---------------------------------------------------

// Content
// --------------------------------------------------
.header {
  color: $starGrey;
  font-size: 1.8rem;
  margin: 0 -5rem; // clear padding from container only for this block
  transition: all .3s ease;
  padding: 2.3rem 2rem;
  position: relative;

  @include maxScreen($middle) {
    margin: 0 -1.9rem; // clear padding from container only for this block
    padding: .6rem 1.5rem;
  }

  @include maxScreen($small) {
    margin: 0; // clear padding from container only for this block
    padding: 1.9rem 1rem;
  }

  &:before {
    content: "Desktop";
    transition: all .3s ease;
    width: 80%;

    @include maxScreen($middle) {
      content: "Tablet";
    }

    @include maxScreen($small) {
      content: "Mobile device";
    }
  }

  &:after {
    content: "";
    background: url("../../images/icon-desktop.png") no-repeat center right;
    height: 7.3rem;
    transition: all .3s ease;
    width: 20%;

    @include maxScreen($middle) {
      background: url("../../images/icon-tablet.png") no-repeat center right;
      height: 7.1rem;
    }

    @include maxScreen($small) {
      background: url("../../images/icon-mobile.png") no-repeat center right;
      height: 4.1rem;
    }
  }
}