//---------------------------------------------------
// Item block
//---------------------------------------------------

// Content
// --------------------------------------------------
.item-info-block {
  .social {
    display: none;

    .link {
      border: .1rem solid $primeBlue;
      border-radius: 50%;
      color: $primeBlue;
      display: inline-block;
      height: 4rem;
      margin-bottom: 1rem;
      transition: all .3s ease;
      text-align: center;
      width: 4rem;

      i {
        padding-top: 1.2rem;

        @include maxScreen($middle) {
          padding-top: 1rem;
        }
      }

      &:hover {
        background: $primeBlue;
        color: $primeWhite;
        cursor: pointer;
      }

      &:active {
        box-shadow: inset 0 0 1rem $primeWhite;
      }
    }
  }

  &__image {
    background: $opinionGrey;
    position: relative;

    @include maxScreen($middle) {
      min-height: 28rem;
    }

    img {
      width: 100%;
      height: auto;
    }

    .social {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      width: 4.2rem;

      @include screen($small, $middle) {
        display: block;
      }
    }
  }

  &__description {
    padding-left: 2rem;

    @include maxScreen($small) {
      padding: 2rem 7% 0;
    }

    .title {
      font-family: $OswaldFontFamily;
      font-size: 2.4rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    .sub-title {
      color: $moonBrown;
      font-size: 1rem;
      margin-bottom: 2.5rem;
    }

    .price {
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 2.5rem;

      @include maxScreen($middle) {
        font-size: 3.6rem;
      }

      &__old {
        color: $moonBrown;
        margin-right: 2.5rem;
        text-decoration: line-through;

        @include maxScreen($middle) {
          margin-right: 2.8rem;
        }
      }

      &__new {
        color: $primeRed;
      }
    }

    .stars-and-share {
      margin-bottom: 3rem;

      .stars {
        display: inline-block;

        input {
          display: none;
        }

        label {
          background: url("../../images/icon-star.png") no-repeat center;
          display: inline-block;
          height: 1.7rem;
          transition: all .3s ease;
          width: 1.7rem;

          &:hover {
            cursor: pointer;
          }
        }

        input:checked {
          & + label {
            background: url("../../images/icon-star-checked.png") no-repeat center;
          }
        }
      }

      .share-it {
        color: $primeBlue;
        display: inline-block;
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: 1.7rem;
        position: relative;

        @include maxScreen($middle) {
          display: none;
        }

        .toggle {
          display: none;
        }

        .share-it-btn {
          &:hover {
            cursor: pointer;
          }
        }

        &.active {
          .toggle {
            background: $primeWhite;
            box-shadow: 0 0 .7rem 0 rgba($moonBrown, 0.4);
            display: block;
            position: absolute;
            top: 4rem;
            left: -10rem;
            padding: 1.5rem;
            width: 28.7rem;
            z-index: 5;

            .share-title {
              font-weight: 400;
              margin-bottom: 2rem;
              position: relative;

              i {
                position: absolute;
                right: 0;

                &:hover {
                  cursor: pointer;
                }
              }
            }

            .social {
              display: block;
              text-align: center;

              .link {
                margin-right: .7rem;

                &:last-child {
                  margin-right: 0;
                }
              }
            }

            &:before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              top: 0;
              left: 55%;
              box-sizing: border-box;
              border: 1rem solid $streetGrey;
              border-color: transparent transparent $primeWhite $primeWhite;
              transform-origin: 0 0;
              transform: rotate(135deg);
              box-shadow: -.2rem .2rem .3rem 0 rgba($moonBrown, 0.4);
            }
          }
        }
      }
    }

    .social {
      @include maxScreen($small) {
        display: block;
        margin-bottom: 2rem;

        .link {
          height: 3.8rem;
          margin-right: 1rem;
          width: 3.8rem;

          i {
            padding-top: .8rem;
          }
        }
      }
    }

    .description {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.7rem;
      margin-bottom: 2.5rem;
      position: relative;

      @include screen($small, $middle) {
        & {
          padding-top: 2.5rem;
        }

        &:before {
          content: "Details:";
          font-size: 1.4rem;
          font-weight: bold;
          text-transform: uppercase;
          position: absolute;
          top: 0;
        }
      }
    }

    .size {
      margin-bottom: 2.5rem;

      @include maxScreen($small) {
        text-align: center;
      }

      .size-choose {
        position: relative;

        @include maxScreen($middle) {
          padding-top: 2.5rem;
        }

        @include maxScreen($small) {
          padding-top: 3.5rem;
        }

        &:before {
          content: "Size:";
          font-weight: bold;
          margin-right: 1.7rem;
          text-transform: uppercase;

          @include maxScreen($middle) {
            content: "Select a size:";
            font-size: 1.4rem;
            position: absolute;
            top: 0;
          }

          @include maxScreen($small) {
            font-size: 2rem;
            left: 30%;
          }
        }

        input {
          display: none;
        }

        label {
          background: $primeWhite;
          border: .1rem solid $moonBrown;
          border-radius: 50%;
          display: inline-block;
          font-size: 1.2rem;
          font-weight: bold;
          height: 4rem;
          margin-right: 1.2rem;
          text-align: center;
          text-transform: uppercase;
          transition: all .3s ease;
          padding-top: 1.3rem;
          vertical-align: middle;
          width: 4rem;

          @include maxScreen($middle) {
            height: 3.8rem;
            width: 3.8rem;

            &:last-child {
              margin-right: 0;
            }
          }

          &:hover {
            background: $moonBrown;
            color: $primeWhite;
            cursor: pointer;
          }
        }

        input:checked {
          & + label {
            background: $moonBrown;
            color: $primeWhite;
            cursor: default;
          }
        }
      }
    }

    .add-to-cart {
      @include maxScreen($middle) {
        .prime-btn {
          min-width: 18rem;
          width: 65%;
        }
      }

      @include maxScreen($small) {
        text-align: center;
      }
    }
  }
}