//---------------------------------------------------
// Slider
//---------------------------------------------------

// Content
// --------------------------------------------------
.slider {
  position: relative;
  height: 1px;
  overflow: hidden;
  visibility: hidden;

  @include maxScreen($small) {
    height: inherit;
    overflow: inherit;
    visibility: visible;
  }
}

.slider_wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: auto;
  width: 68%;
}

#image_slider {
  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  /*Chrom default padding for ul is 40px */
  padding: 0;
  margin: 0;

  li {
    position: relative;
    float: left;
    overflow: hidden;
  }
}

.nvgt {
  position: absolute;
  top: 120px;
  height: 50px;
  width: 30px;
  opacity: 0.6;

  &:hover {
    opacity: 0.9;
  }
}

%before-after {
  &:before,
  &:after {
    position: absolute;
    border: 2rem solid transparent;
    content: '';
    display: block;
  }
}

#prev {
  left: 5%;

  @extend %before-after;

  &:before {
    right: 0;
    border-right-color: $nextPrev;
  }

  &:after {
    right: -.3rem;
    border-right-color: $softGrey;
  }
}

#next {
  right: 5%;

  @extend %before-after;

  &:before {
    left: 0;
    border-left-color: $nextPrev;
  }

  &:after {
    left: -.3rem;
    border-left-color: $softGrey;
  }
}